{% extends 'dashboard.html' %}
{% load permission_tags %}
{% block dashboard-body %}

<div class="row">
  <div class="col-12">
    {% if user|has_role:'admin'%}
      <a href="{% url 'students:export_users_details_csv' %}">
      <button type="button" class="btn btn-outline-info float-right">
        Export all Students</button></a>
    {% endif %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Registration</th>
          <th scope="col">Name</th>
          <th scope="col">Mobile</th>
          <th scope="col">Email</th>
          <th scope="col">Total Fee</th>
          <th scope="col">Paid</th>
          <th scope="col">Due</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr class="student">
          <th scope="row">
            <a href="{% url 'students:student_details' pk=student.id %}">
              {{ student.id }}
          </th>
          <td>
            <a href="{% url 'students:student_details' pk=student.id %}">
              {{ student.registration_number }}</td>
          <td>
            <a href="{% url 'students:student_details' pk=student.id %}">
            <img src="{{ student.photo.url }}" class="mr-2 rounded-circle" height=24 width=24>
            {{ student.user.username }}
          </td>
          <td>
              <a href="{% url 'students:student_details' pk=student.id %}">
              {{ student.mobile }}
          </td>
           <td>
            <a href="{% url 'students:student_details' pk=student.id %}">
              {{ student.user.email }}
          </td>
          <td>
            <a href="{% url 'students:student_details' pk=student.id %}">
              {% if user|has_role:'admin'%}
                {{ student.total_amount }}
              {% elif user.get_username == student.user.username%}
                {{ student.total_amount }}
              {%else%}
                Not Visible
              {% endif %}
          </td>
          <td>
            <a href="{% url 'students:student_details' pk=student.id %}">
               {% if user|has_role:'admin'%}
                {{ student.paid_amount }}
              {% elif user.get_username == student.user.username%}
                {{ student.paid_amount }}
              {%else%}
                Not Visible
              {% endif %}
          </td>
          <td>
            <a href="{% url 'students:student_details' pk=student.id %}">
               {% if user|has_role:'admin'%}
                {{ student.due_amount }}
              {% elif user.get_username == student.user.username%}
                {{ student.due_amount }}
              {%else%}
                Not Visible
              {% endif %}
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success">
                <a href="{% url 'students:student_details' pk=student.id %}"><p style="color:black">View</p></a>
              </button>
            </div>
            {% if user|has_role:'admin'%}
               <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-info">
                  <a href="{% url 'students:update_student' pk=student.id %}"><p style="color:black">Edit</p></a>
                </button>
              </div>

               <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger">
                  <a href="{% url 'students:delete_student' pk=student.pk %}"<p style="color:black">Delete</p></a>
                </button>
              </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>

  <script>
      var rows = document.getElementsByTagName("tr")
      var i = 1
      {% if user|has_role:'admin'%}

          {% for student in students %}
            {% if student.due_amount != 0%}
              rows[i++].style.backgroundColor = "rgba(255, 99, 71, 0.4)";
            {% else %}
              rows[i++].style.backgroundColor = "white";
            {% endif %}
          {% endfor %}
      {%else%}
          {% for student in students %}
            {% if user.get_username == student.user.username %}
              rows[i].style.backgroundColor = "rgba(255, 99, 71, 0.4)";
            {% endif %}
             i = i + 1;
          {% endfor %}
     {% endif %}


</script>
{% endblock %}